/* For information on how to create your own theme, please refer to:
http://ionicframework.com/docs/theming/ */

:root {
  --ion-color-primary: #6C63FF;
  --ion-color-secondary: #FF6584;
  --ion-color-tertiary: #00C9A7;
}